@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;900&display=swap");

.contact {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-left: 160px;
  margin-top: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-top: 5px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; /* or center */
  margin: 0;
  padding: 0;
}

33C4DF

.contact-header-2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

.contact-interest {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-top: 0px;
  text-align: left;
}

.form-info {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #000000;
  margin-top: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 18px;
}

.final-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 650px;
  padding-top: 10px;
}

.input {
  border: 1px solid #056dfa;
  border-radius: 10px;
  width: 600px;
  text-indent: 10px;
  transition: box-shadow 0.3s ease;
  resize: none;
  min-height: 32px;
}

.input-1 {
  border: 1px solid #056dfa;
  border-radius: 10px;
  width: 600px;
  text-indent: 10px;
  transition: box-shadow 0.3s ease;
  resize: none;
  padding-top: 8px;
  padding-left: 0px;
}

.input-1:hover {
  box-shadow: 0px 2px 0px 1px #1c74d9;
}

.input-1:focus {
  box-shadow: 0px 0px 0px 0px;
}

.input-1::placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.invalid {
  border-color: #ff342b;
  transition: box-shadow 0.3s ease;
}

.input:hover {
  box-shadow: 0px 2px 0px 1px #1c74d9;
}

.invalid:hover,
.invalid.input:hover {
  box-shadow: 0px 2px 0px 1px #ff342b;
}

.input:focus {
  box-shadow: 0px 0px 0px 0px;
}

.invalid:focus,
.invalid.input:focus {
  box-shadow: 0px 0px 0px 0px;
  outline: 2px solid red;
}

.input::placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.button {
  background: #ffcc01;
  box-shadow: 0px 2px 0px 1px #000000;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  color: black;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  margin-top: -5px;
  transition: transform 0.2s ease-in-out;
  width: 100px;
}

.button:hover {
  transform: scale(0.9);
}

.main {
  display: flex;
  flex-direction: row;
}

.image {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: -11px;
  margin-right: 50px;
}

.error {
  color: #ff342b;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  margin-top: 5px;
}

.error-msg {
  display: flex;
  flex-direction: column;
}

.error-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 29px;
}

.form-text-info {
  border: 1px solid #056dfa;
  border-radius: 10px;
  margin-top: -20px;
  width: 600px;
  text-indent: 10px;
  transition: box-shadow 0.3s ease;
  resize: none;
  min-height: 35px;
}

.contact-container {
  width: 80%;
  height: 700px;
  margin: 0 auto;
  border: 10px solid;
  border-color: black;
}

.contact-inner-container {
  width: 200px;
  height: 500px;
  margin: 0 auto;
  border: 10px solid;
  border-color: black;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-item {
  width: 150px;
  height: 150px;
  background-color: red;
  padding: 1em;
  font-weight: 700;
  color: red;
  text-align: center;
  border: 10px solid blue;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  background-color: #fffdf6;
  margin: 10%;
}
