.card-container {
  overflow: hidden;
  max-width: 992px;
  max-height: auto;
  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: 0px 3px 0px 2px #000000;

  @media (max-width: 600px) {
    overflow: hidden;
    width: 340px;
    max-height: auto;
    background: #ffffff;
    border: 1px solid #000000;
    box-shadow: 0px 3px 0px 2px #000000;
  }
}

.image-container {
  width: 100%;
  height: auto;
  margin-left: 96px;

  @media (max-width: 600px) {
    width: 100%;
    height: auto;
    margin-left: 0px;
  }
}

.card-para {
  margin: 8px 32px 0px 32px;
  display: flex;
  flex-direction: row;
  align-items: center;

  @media (max-width: 600px) {
    flex-direction: column;
    text-align: left;
  }
}

.card-title {
  margin: 30px 32px 0px 32px;

  @media (max-width: 600px) {
    text-align: left;
  }
}

.card-reference {
  color: #056dfa;
  margin: 8px 32px 0px 32px;

  @media (max-width: 600px) {
    text-align: left;
  }
}
