.btn {
  --type: transparent;
  --fill: transparent;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 20px;
  box-shadow: 0px 1px 0px 1px #000000;
  background-color: hsl(var(--bkg));
  color: hsl(var(--accent2));
}

.btn svg {
  height: var(--fs-300);
}

.primary {
  background-color: #ffcc01;
  color: black;
}

.primary:hover {
  background: #f96e47;
  text-decoration: underline;
}

.secondary {
  background-color: #1c74d9;
  color: white;
}

.secondary:hover {
  background: #33c4df;
  text-decoration: underline;
}

.tertiary {
  background-color: #e992d7;
  color: white;
}

.tertiary:hover {
  background: #f96e47;
  text-decoration: underline;
}

.cardButton {
  max-width: max-content;
}

.otherButton {
  max-width: 438.4px;
}

.contactUsButton {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: #ffcc01;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 19px;
  line-height: 24px;
  width: 35%;
  border: none;
  box-shadow: 0px 2px 0px 1px #000000;
  max-width: 438.4px;
}

