.card-container {
  overflow: hidden;
  width: 350px;
  max-height: auto;
  left: 162px;
  top: 1928px;
  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: 0px 3px 0px 2px #000000;
}

.image-container {
  overflow: hidden;
  width: 350px;
  height: 136px;
  left: 162px;
  top: 1928px;
  border: 2px solid #000000;
}

.card-content {
  margin: 1rem;
  margin-top: 0.3rem;
}
